anthropic
chromadb
ipykernel
pip
diversity
spacy
nltk
packaging
openai==0.28.1
langchain==0.0.316
tokenizers==0.20.3
transformers
# langchain-huggingface
gradio==4.44.1
unstructured
langchain-community
langchain-anthropic
langchain-huggingface
pydantic
pdfminer.six
pi_heif
unstructured_inference
unstructured_pytesseract
pytesseract
poppler-utils
sentence_transformers
pdfsearch