chromadb
ipykernel
pip
diversity
spacy
nltk
packaging
openai
langchain
gradio
unstructured
langchain-community
pydantic
pdfminer.six
pi_heif
unstructured_inference
unstructured_pytesseract
pytesseract
poppler-utils
sentence_transformers